---
---
@import "minima";

.site-header {
  background: linear-gradient(90deg, #283048 85%, #e8e8e8);
  padding: 5px;
}

.site-title, .site-title:visited {
    color: #fff;
}

.site-nav .page-link {
    color: lightgrey;
    line-height: 1.5;
}

.site-nav .menu-icon {
  background: #e8e8e8;
}

.highlighter-rouge .highlight {
  border-radius: 5px;
}

pre, code {

}
