---
---
@import "minima";

.site-header {
  background: linear-gradient(90deg, navy 35%, blue 98%, transparent 100%);
  padding: 30px;
}

.site-title, .site-title:visited {
    color: #fff;
}

.site-nav .page-link {
    color: #fff;
    line-height: 1.5;
}
